body{
  background: url("texture/grain.png") rgb(253, 120, 0, 0.05);
  background-blend-mode: multiply;
}

.wrapper{
  padding: 10vh 10vw 0;
  position: relative;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, transparent 20%),
  linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, transparent 20%);
}

@media screen and (min-width: 1600px) {
  .wrapper{
    padding: 10vh 15vw 0;
  }
}


@media screen and (max-width: 800px){
  .wrapper{
    background: none;
  }
}

.mission-title{
  text-align: center;
  width: 100%;
  color: black;
}

.mission-presentation{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3vh;
}

/* Container for the entire card */
.card-container {
  /*position: relative;*/
  flex: 1 1 30%;
  height: 50vh;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background: url("img/header.jpg") no-repeat center;
  background-size: cover;
  container-type: inline-size; /* Allows querying based on width */
  container-name: card-container-call;
}

.card-container:hover {
  transform: translateY(-5px);
}

/* Top section for initial text (20% height) */
.top-text-section {
  height: 20%;
  background-color: rgba(253, 120, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

/* Image section (remaining 80% height) */
.image-section {
  position: relative;
  height: 80%;
  overflow: hidden;
}

/* The main image */
.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.4s ease-in-out;
}

/* Overlay for text that appears on hover */
.hover-text-overlay {
  height: 100%;
  background-color: rgba(253, 120, 0, 0.6);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
}

@container card-container-call (min-width: 400px){
  .top-text-section {
    font-size: 3.5rem;
  }
  .hover-text-overlay {
    font-size: 2.2rem;
  }
}

.hover-text-overlay a {
  color: #ffffff;
}

/* Styles applied when the card container is hovered */
.card-container:hover .hover-text-overlay {
  opacity: 1;
}

.card-container:hover .hover-text-overlay {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}